<html  ng-app="ionicApp">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
                
                <title>菜鸟教程(runoob.com)</title>
                <link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">
                    <script src="ionic.bundle.min.js"></script>
                    <script src="popup.js"></script>
                    <script src="../baseOption/api/taobao.js"></script>
                    <style type="text/css">
                        body {
                            cursor: url('http://www.runoob.com/try/demo_source/finger.png'), auto;
                        }
                    </style>
                    </head>
    
    <body style="width:300px;height:400px" ng-controller="MainCtrl">
        
        <ion-header-bar class="bar-positive">
            <h1 class="title">自动下单</h1>
        </ion-header-bar>
        
        <ion-content >
            
            <div class="list">
                <div class="item item-divider">
                    订单列表
                </div>
                 
                 <ul class="list">

                    <li class="item" ng-repeat="item in OrderList">
                        <div class="row">
                          <div class="col col-100"> 小号订单号：{{item.SId}} </div>
                        </div>
                        <div class="row">
                          <div class="col col-100">大号订单号：{{item.BId}}</div>
                          
                        </div>
                        <div class="row">
                          <div class="col col-100">物流单号：{{item.mailNo}}</div>
                        </div>
                         <div class="row">
                          <div class="col col-100">物流公司: {{item.cpName}}</div>
                        </div>
                       
                        
                    </li>
                </ul>
               

                <div class="item item-divider">
                    配置
                </div>
                
                <ion-toggle ng-repeat="item in settingsList"
                    ng-model="item.checked"
                    ng-checked="item.checked"
                    ng-change='settingChange(item)'>
                    {{ item.text }}
                </ion-toggle>
                
               
                
               
                
            </div>
            
        </ion-content>
        
    </body>
</html>
